# QA_on_Tabular_Data_with_HuggingFace_and_TAPAS.ipynb

In [ ]:
# QA_on_Tabular_Data_with_HuggingFace_and_TAPAS.ipynb

## Installs

In [ ]:
!pip install -q transformers==4.4.2

     |████████████████████████████████| 2.0 MB 21.3 MB/s
     |████████████████████████████████| 880 kB 71.3 MB/s
     |████████████████████████████████| 3.3 MB 63.9 MB/s
  Building wheel for sacremoses (setup.py) ... done

In [ ]:
import torch
torch.__version__

'1.13.0+cu116'

In [ ]:
!!pip install torch-scatter -f https://pytorch-geometric.com/whl/torch-1.8.0+cu101.html

['Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/',
 'Looking in links: https://pytorch-geometric.com/whl/torch-1.8.0+cu101.html',
 'Collecting torch-scatter',
 '  Downloading torch_scatter-2.1.0.tar.gz (106 kB)',
 '\x1b[?25l',
 '\x1b[K     |███                             | 10 kB 35.3 MB/s eta 0:00:01',
 '\x1b[K     |██████▏                         | 20 kB 43.8 MB/s eta 0:00:01',
 '\x1b[K     |█████████▏                      | 30 kB 53.2 MB/s eta 0:00:01',
 '\x1b[K     |████████████▎                   | 40 kB 24.4 MB/s eta 0:00:01',
 '\x1b[K     |███████████████▍                | 51 kB 27.7 MB/s eta 0:00:01',
 '\x1b[K     |██████████████████▍             | 61 kB 31.6 MB/s eta 0:00:01',
 '\x1b[K     |█████████████████████▌          | 71 kB 21.6 MB/s eta 0:00:01',
 '\x1b[K     |████████████████████████▌       | 81 kB 23.6 MB/s eta 0:00:01',
 '\x1b[K     |███████████████████████████▋    | 92 kB 25.8 MB/s eta 0:00:01',
 '\x1b[K     |██████████████████████████████▊ | 102 kB 26.4 MB/s eta 0:00:01',
 '\x1b[K     |████████████████████████████████| 106 kB 26.4 MB/s ',
 '\x1b[?25hBuilding wheels for collected packages: torch-scatter',
 '  Building wheel for torch-scatter (setup.py) ... \x1b[?25l\x1b[?25hdone',
 '  Created wheel for torch-scatter: filename=torch_scatter-2.1.0-cp38-cp38-linux_x86_64.whl size=3398133 sha256=c724e163c4ee7e5de051d1b9c69d3b8908cfcabde220cac10ce592957df03d4b',
 '  Stored in directory: /root/.cache/pip/wheels/41/7f/4f/cf072bea3b6efe4561de2db3603ebbd8718c134c24caab8281',
 'Successfully built torch-scatter',
 'Installing collected packages: torch-scatter',
 'Successfully installed torch-scatter-2.1.0']

## Importing Libraries

In [ ]:
from transformers import pipeline

In [1]:
import pandas as pd

In [ ]:
tqa = pipeline(task="table-question-answering", 
               model="google/tapas-base-finetuned-wtq")

## Import Data

In [2]:
table = pd.read_csv("https://raw.githubusercontent.com/bhattbhavesh91/table-question-answering-demo/main/data.csv")

# table = pd.read_csv("data.csv")

In [3]:
# save the table as a csv file
table.to_csv("data.csv", index=False)

In [ ]:
table = table.astype(str)

In [ ]:
table.head()

,Pos,Player,Team,Span,Innings,Runs,Highest Score,Average,Strike Rate
0,1,Sachin Tendulkar,India,1989-2012,452,18426,200,44.83,86.23
1,2,Kumar Sangakkara,Sri Lanka,2000-2015,380,14234,169,41.98,78.86
2,3,Ricky Ponting,Australia,1995-2012,365,13704,164,42.03,80.39
3,4,Sanath Jayasuriya,Sri Lanka,1989-2011,433,13430,189,32.36,91.2
4,5,Mahela Jayawardene,Sri Lanka,1998-2015,418,12650,144,33.37,78.96

## Test

In [ ]:
query  = "Who has maximun average?"
print(tqa(table=table, query=query)["answer"])

Virat Kohli

In [ ]:
query = ["Virat Kohli's highest score?", 
         "Which team does he play for?"]
answer = tqa(table=table, query=query)
for ans in answer:
    print(ans["answer"])

AVERAGE > 183
India

In [ ]:
def q_and_a():
  sentence  = input("Your query:")
  q=list()
  # split the sentence at "," add to list query
  q.append(sentence.split(","))
  answer = tqa(table=table, query=q[0])
  for ans in answer:
      print(ans["answer"])

In [ ]:
q_and_a()

Your query:Who are all has More than 20 average?, Who has more average?
Sachin Tendulkar, Virat Kohli, Jacques Kallis, Saurav Ganguly
Virat Kohli